
.board-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#game-board{
 
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.cell{
    display: inline-block;
    height: 100px;
    width: 100px;
    vertical-align: middle;
    line-height: 100px;
    text-align: center;
    border: 1px solid black;
    font-size: 70px;
    font-weight: 700;
    cursor: pointer;
}

.cell:hover{
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0,255,0,0.3); 
    box-shadow: 0px 0px 15px -2px rgba(0,255,0,0.3);
}

.cell.taken:hover{
    -webkit-box-shadow: 0px 0px 15px -2px rgba(255, 0, 0, 0.3); 
    box-shadow: 0px 0px 15px -2px rgba(255,0,0,0.3);
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}

 
.winner-message{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 ,0 , .9);
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winner-message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
}

.winner-message button:hover{
    background-color: black;
    border-color: white;
    color: white;
}

.winner-message.show{
    display: flex;
}